.portofolio {
	overflow: auto;
}

.portofolio-header {
	text-align: center;
	padding: 100px 0 30px 0;
}

.port-content {
	width: 25%;
	float: left;
	text-align: center;
	padding: 20px;
}

.port-content h1 {
	padding-bottom: 15px;
}